/* FULL PAGE BACKGROUND */
.auth-bg {
  min-height: 100vh;
  background:
    linear-gradient(rgba(25, 118, 210, 0.75), rgba(25, 118, 210, 0.75)),
    url("./assets/health-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

/* CENTER CARD */
.auth-card {
  width: 380px;
  background: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
  text-align: center;
}

/* TITLE */
.auth-card h2 {
  margin-bottom: 5px;
  color: #1976d2;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #125ea9;
}

/* TOGGLE */
.toggle {
  margin-top: 18px;
  color: #1976d2;
  cursor: pointer;
  font-size: 14px;
}

/* ERROR */
.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* MOBILE */
@media (max-width: 500px) {
  .auth-card {
    width: 90%;
  }
}
